{{# partial "titulo" }}
    <title>GESOC - Nueva Compra</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
        <a href="/">Inicio</a>
        <a class="active" href="/compras">Compras</a>
        <a href="/entidades">Entidades</a>
        <a href="/mensajes">Mensajes</a>
        <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}

{{/partial}}

{{> layout.html.hbs }}