{{# partial "titulo" }}
    <title>GeSoc - Compras</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
        <a href="/">Inicio</a>
        <a class="active" href="/compras">Compras</a>
        <a href="/entidades">Entidades</a>
        <a href="/mensajes">Mensajes</a>
        <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>
        <button class="botonSameTamanio" onclick="location.href='/compras/nueva'">Crear Compra</button>
        <button class="botonSameTamanio" onclick="location.href='/compras/ver'">Ver Compras Existentes</button>
    </section>

{{/partial}}

{{> layout.html.hbs }}
