{{# partial "titulo" }}
    <title>GeSoc - Entidades por categoría</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
      <a href="/">Inicio</a>
      <a href="/compras">Compras</a>
      <a class="active" href="/entidades">Entidades</a>
      <a href="/mensajes">Mensajes</a>
      <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>

        <button class="botonAtras" onclick="location.href='/entidades'">Atras</button>

        <h2>Entidades por categoría</h2>

        <form action="/categorias" method="GET">
            Seleccione la categoría deseada
            <input type="text" name="filtro" placeholder="Nombre de categoría">
            <input type="submit" value="Buscar">
        </form>

        <ul>
            {{#categorias}}
                <li><a href="/categorias/{{id}}">{{nombre}}</a></li>
            {{/categorias}}
        </ul>

    </section>

{{/partial}}

{{> layout.html.hbs }}
