{{# partial "titulo" }}
    <title>GeSoc - Entidades por categoría</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
      <a href="/">Inicio</a>
      <a href="/compras">Compras</a>
      <a class="active" href="/entidades">Entidades</a>
      <a href="/mensajes">Mensajes</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>
        <h2>Entidades por categoría</h2>

        <form action="/entidades/porCategoria" method="GET">
            Seleccione la categoría deseada
            <input type="number" name="filtro" placeholder="ID de categoría">
            <input type="submit" value="Buscar">
        </form>

        <ul>
            {{#categorias}}
                <li><a href="/entidades/porCategoria/{{id}}">{{nombre}}</a></li>
            {{/categorias}}
        </ul>
    </section>
{{/partial}}

{{> layout.html.hbs }}
