{{# partial "titulo" }}
    <title>GeSoc - Entidades por categoría</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
      <a href="/">Inicio</a>
      <a href="/compras/menu">Compras</a>
      <a class="active" href="/entidades">Entidades</a>
      <a href="/mensajes">Bandeja de Entrada</a>
      <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>

		<button class="botonAtras" style="width: 16%;" onclick="location.href='/entidades'">Volver a menú de entidades</button>

        <h2>Entidades por categoría</h2>
        <h3>Seleccione la categoría deseada:</h3>
        <div class="divcategoriasSeparacion" style="font-size:large;">

            <form action="/categorias" style="text-align: right; margin-top: 20px; margin-right: 20px;" method="GET">
                <input type="text" name="filtro" style="font-size:16" placeholder="Nombre de categoría">
                <input type="submit" style="font-size:16" value="Buscar">
            </form>

            <ul>
                {{#categorias}}
                    <li><a href="/categorias/{{id}}">{{nombre}}</a></li>
                {{/categorias}}
            </ul>
        </div>

    </section>

{{/partial}}

{{> layout.html.hbs }}
