{{# partial "titulo" }}
    <title>GeSoc - Crear entidad</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
      <a href="/">Inicio</a>
      <a href="/compras">Compras</a>
      <a class="active" href="/entidades">Entidades</a>
      <a href="/mensajes">Mensajes</a>
      <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>

        <button class="botonAtras" style="width: 16%;" onclick="location.href='/entidades'">Volver a menú de entidades</button>

        <h2>Crear entidad<h2>

            <h3>Seleccione el tipo de entidad a crear:</h3>
            <div class="mismaFila">
                <button class="botonSameTamanio botonPequenioIzquierda" onclick="location.href='/entidades/nueva-base'">Entidad base</button>
                <button class="botonSameTamanio botonPequenioIzquierda" onclick="location.href='/entidades/nueva-empresa'">Empresa</button>
                <button class="botonSameTamanio botonPequenioIzquierda" onclick="location.href='/entidades/nueva-org-sector-social'">Organización de sector social</button>
            </div>

        {{#mensajeExito}}
                    <h2 style="text-align:center; color: green; padding-top: 30px;">{{mensajeExito}}</h2>
        {{/mensajeExito}}
        {{#mensajeError}}
                    <h2 style="text-align:center; color: red; padding-top: 30px;">{{mensajeError}}</h2>
        {{/mensajeError}}
    </section>
{{/partial}}

{{> layout.html.hbs }}
