<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
    {{# block "titulo" }}
    {{/block}}
</head>

<body>
    <nav>
        <a href="/">NAV1</a>
        <a href="/consultoras">NAV2</a>
    </nav>
	<main>
		<h1>GESOC</h1>
            {{# block "contenido" }}
            {{/block}}
	</main>
	<footer class="fondo-gris">
        FOOTER
	</footer>
</body>

</html>