{{# partial "titulo" }}
    <title>GESOC - Home</title>
{{/partial}}


{{# partial "contenido" }}
    <section class="fondo-gris">
    <section id="Inicio de sesion">
   	<p>Iniciar sesion</p>
  	<form action="/login" method="POST">
          <input type="text" name="username" placeholder="Username" required="required">
          <input type="text" name="password" placeholder="Password" required="required">
          <input type="submit" value="Enter">
          
          
          
    </form>
</section>
    
        <p> 
        	HOLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        </p>

    </section>

{{/partial}}

{{> layout.html.hbs }}
