{{# partial "titulo" }}
    <title>GeSoc - Mensajes</title>
{{/partial}}


{{# partial "nav"}}
    <div class="topnav">
        <a href="/menu">Inicio</a>
        <a href="/compras">Compras</a>
        <a href="/entidades">Entidades</a>
        <a class="active" href="/mensajes">Mensajes</a>
        <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>
        <div id="Inicio de sesion">
            <p>Ud tiene {{tamanioBandeja}} mensajes</p>
        </div>
    </section>
{{/partial}}

{{> layout.html.hbs }}
