{{# partial "titulo" }}
    <title>GeSoc - Mensajes</title>
{{/partial}}


{{# partial "contenido" }}
    <section class="fondo-gris">
    <section id="Inicio de sesion">
   	<p>Ud tiene {{tamanioBandeja}} mensajes</p>          

{{/partial}}

{{> layout.html.hbs }}
