{{# partial "titulo" }}
    <title>GeSoc - Bandeja de Entrada</title>
{{/partial}}


{{# partial "nav"}}
    <div class="topnav">
        <a href="/menu">Inicio</a>
        <a href="/compras/menu">Compras</a>
        <a href="/entidades">Entidades</a>
        <a class="active" href="/mensajes">Bandeja de Entrada</a>
        <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>
        <div id="Inicio de sesion">
            <h2>Usted tiene {{tamanioBandeja}} mensajes:</h2>
            <ul>
            	{{#mensajes}}
  
            		<div class="mensajecuadrosuperior">
        		    <span>Fecha {{fechaamigable}}</span> <br>
        		    </div>
        		    <div class="mensajecontenido">
        		    <span> {{value}}</span> <br>
        		    </div>
            		
            	{{/mensajes}}
            </ul>
        </div>
    </section>
{{/partial}}

{{> layout.html.hbs }}
