{{# partial "titulo" }}
    <title>GESOC - Home</title>
{{/partial}}


{{# partial "contenido" }}
    <section class="fondo-gris">
    
    	
    
        <h2>¡Bienvenido {{username}}!</h2>
        <p> 
        	HOLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        </p>

    </section>

{{/partial}}

{{> layout.html.hbs }}
